* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2? family= Alumni+Sans+Collegiate+One & family= Rubik+Dirt & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Alumni+Sans+Collegiate+One & display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #f5f0f0;
}

.multi {
    width: 30%;
    height: 50%;
}

.corpo {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f0f0;
}

.herois {
    width: 100%;
}

.formulario {
    width: 100%;
}

.escolha {
    color: rgb(13, 15, 16);
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    text-shadow: -4px 0 rgb(235, 24, 24), 0 1px rgb(183, 20, 20), 1px 0 rgb(203, 35, 35), 0 -1px rgb(172, 39, 39);
}

.form {
    width: 100%;
    align-items: center;
    padding: 80px;
}

.escrito {
    color: rgb(15, 15, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.escrever {
    color: #000000;
    width: 95%;
    border: rgb(58, 74, 74) 2px solid;
    padding: 10px;
    border-radius: 15px;
}

.button2 {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    color: #020202;
    cursor: pointer;
} 

.button {
    display: inline;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    color: #020202;
    cursor: pointer;
}

.button span {
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.azul {
    background-color: rgba(83, 188, 245, 0.79);
    width: 100%;
    height: 55px;
}

.verde {

    height: 43px;
    background-color: rgb(164, 212, 106);
}

@keyframes pipe-animation {
    from {
        left: -50px;
    }

    to {
        left: 50%;
    }
}

.personagem {
    position: absolute;
    bottom: 3px;
    width: 120px;
    animation: pipe-animation 10s infinite;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow-x: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    position: absolute;
    color: #aaa;
    background-color: #fefbfb;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-left: 100%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    background-color: rgba(83, 188, 245, 0.79);
    border-radius: 10px;
    width: 232px;
    height: 332px;
    margin: 10px;
}

.card_text {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 212px;
    height: 90px;
    margin-left: 10px;
}

.card_titulo {
    font-weight: bold;
    margin-top: 10px;
    width: 212px;
    margin-left: 10px;
}

.card_img img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: 212px;
    height: 190px;
    background-color: tomato;
}

.card_excluir {
    font-size: 25px;
    position: absolute;
    margin-left: 215px;
    margin-top: -10px;
    background-color: #e7e7e7;
    /*border: 1px solid black;*/
    width: 30px;
    height: 30px;
    border-radius: 50px;

}

.card_excluir p {
    text-align: center;
}
.rodape{
    position: relative;
}

 @media (min-width: 1023px){
    .corpo{
        width: 100%;
        display: flex;  
        justify-content: center;
        flex-direction: row;     
    }
    .multi{
        width: 20%;
    }
    .herois{
        width: 45%;
    }
    .formulario{
        width: 40%;
    
    }
    .personagem{
        /* margin-top: -4%; */
    
    }

}  